/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License:none (public domain) */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
body{line-height:1;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}table{border-collapse:collapse;border-spacing:0;}

/* 960 Grid 
-------------------------------------------------------------------------------------*/
body{min-width:960px}.container_12,.container_16{margin-left:auto;margin-right:auto;width:960px}.grid_1,.grid_2,.grid_3,.grid_4,.grid_5,.grid_6,.grid_7,.grid_8,.grid_9,.grid_10,.grid_11,.grid_12,.grid_13,.grid_14,.grid_15,.grid_16{display:inline;float:left;margin-left:10px;margin-right:10px}.push_1,.pull_1,.push_2,.pull_2,.push_3,.pull_3,.push_4,.pull_4,.push_5,.pull_5,.push_6,.pull_6,.push_7,.pull_7,.push_8,.pull_8,.push_9,.pull_9,.push_10,.pull_10,.push_11,.pull_11,.push_12,.pull_12,.push_13,.pull_13,.push_14,.pull_14,.push_15,.pull_15{position:relative}.container_12 .grid_3,.container_16 .grid_4{width:220px}.container_12 .grid_6,.container_16 .grid_8{width:460px}.container_12 .grid_9,.container_16 .grid_12{width:700px}.container_12 .grid_12,.container_16 .grid_16{width:940px}.alpha{margin-left:0}.omega{margin-right:0}.container_12 .grid_1{width:60px}.container_12 .grid_2{width:140px}.container_12 .grid_4{width:300px}.container_12 .grid_5{width:380px}.container_12 .grid_7{width:540px}.container_12 .grid_8{width:620px}.container_12 .grid_10{width:780px}.container_12 .grid_11{width:860px}.container_16 .grid_1{width:40px}.container_16 .grid_2{width:100px}.container_16 .grid_3{width:160px}.container_16 .grid_5{width:280px}.container_16 .grid_6{width:340px}.container_16 .grid_7{width:400px}.container_16 .grid_9{width:520px}.container_16 .grid_10{width:580px}.container_16 .grid_11{width:640px}.container_16 .grid_13{width:760px}.container_16 .grid_14{width:820px}.container_16 .grid_15{width:880px}.container_12 .prefix_3,.container_16 .prefix_4{padding-left:240px}.container_12 .prefix_6,.container_16 .prefix_8{padding-left:480px}.container_12 .prefix_9,.container_16 .prefix_12{padding-left:720px}.container_12 .prefix_1{padding-left:80px}.container_12 .prefix_2{padding-left:160px}.container_12 .prefix_4{padding-left:320px}.container_12 .prefix_5{padding-left:400px}.container_12 .prefix_7{padding-left:560px}.container_12 .prefix_8{padding-left:640px}.container_12 .prefix_10{padding-left:800px}.container_12 .prefix_11{padding-left:880px}.container_16 .prefix_1{padding-left:60px}.container_16 .prefix_2{padding-left:120px}.container_16 .prefix_3{padding-left:180px}.container_16 .prefix_5{padding-left:300px}.container_16 .prefix_6{padding-left:360px}.container_16 .prefix_7{padding-left:420px}.container_16 .prefix_9{padding-left:540px}.container_16 .prefix_10{padding-left:600px}.container_16 .prefix_11{padding-left:660px}.container_16 .prefix_13{padding-left:780px}.container_16 .prefix_14{padding-left:840px}.container_16 .prefix_15{padding-left:900px}.container_12 .suffix_3,.container_16 .suffix_4{padding-right:240px}.container_12 .suffix_6,.container_16 .suffix_8{padding-right:480px}.container_12 .suffix_9,.container_16 .suffix_12{padding-right:720px}.container_12 .suffix_1{padding-right:80px}.container_12 .suffix_2{padding-right:160px}.container_12 .suffix_4{padding-right:320px}.container_12 .suffix_5{padding-right:400px}.container_12 .suffix_7{padding-right:560px}.container_12 .suffix_8{padding-right:640px}.container_12 .suffix_10{padding-right:800px}.container_12 .suffix_11{padding-right:880px}.container_16 .suffix_1{padding-right:60px}.container_16 .suffix_2{padding-right:120px}.container_16 .suffix_3{padding-right:180px}.container_16 .suffix_5{padding-right:300px}.container_16 .suffix_6{padding-right:360px}.container_16 .suffix_7{padding-right:420px}.container_16 .suffix_9{padding-right:540px}.container_16 .suffix_10{padding-right:600px}.container_16 .suffix_11{padding-right:660px}.container_16 .suffix_13{padding-right:780px}.container_16 .suffix_14{padding-right:840px}.container_16 .suffix_15{padding-right:900px}.container_12 .push_3,.container_16 .push_4{left:240px}.container_12 .push_6,.container_16 .push_8{left:480px}.container_12 .push_9,.container_16 .push_12{left:720px}.container_12 .push_1{left:80px}.container_12 .push_2{left:160px}.container_12 .push_4{left:320px}.container_12 .push_5{left:400px}.container_12 .push_7{left:560px}.container_12 .push_8{left:640px}.container_12 .push_10{left:800px}.container_12 .push_11{left:880px}.container_16 .push_1{left:60px}.container_16 .push_2{left:120px}.container_16 .push_3{left:180px}.container_16 .push_5{left:300px}.container_16 .push_6{left:360px}.container_16 .push_7{left:420px}.container_16 .push_9{left:540px}.container_16 .push_10{left:600px}.container_16 .push_11{left:660px}.container_16 .push_13{left:780px}.container_16 .push_14{left:840px}.container_16 .push_15{left:900px}.container_12 .pull_3,.container_16 .pull_4{left:-240px}.container_12 .pull_6,.container_16 .pull_8{left:-480px}.container_12 .pull_9,.container_16 .pull_12{left:-720px}.container_12 .pull_1{left:-80px}.container_12 .pull_2{left:-160px}.container_12 .pull_4{left:-320px}.container_12 .pull_5{left:-400px}.container_12 .pull_7{left:-560px}.container_12 .pull_8{left:-640px}.container_12 .pull_10{left:-800px}.container_12 .pull_11{left:-880px}.container_16 .pull_1{left:-60px}.container_16 .pull_2{left:-120px}.container_16 .pull_3{left:-180px}.container_16 .pull_5{left:-300px}.container_16 .pull_6{left:-360px}.container_16 .pull_7{left:-420px}.container_16 .pull_9{left:-540px}.container_16 .pull_10{left:-600px}.container_16 .pull_11{left:-660px}.container_16 .pull_13{left:-780px}.container_16 .pull_14{left:-840px}.container_16 .pull_15{left:-900px}.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}.clearfix:before,.clearfix:after{content:'\0020';display:block;overflow:hidden;visibility:hidden;width:0;height:0}.clearfix:after{clear:both}.clearfix{zoom:1}

/* Flex Grids */
/* Here is your gutter */ .flex_grid .grid_content {margin:0 10px;}
.flex_grid{}.flex_1,.flex_2,.flex_3,.flex_4,.flex_5,.flex_6,.flex_7,.flex_8,.flex_9,.flex_10,.flex_11,.flex_12{letter-spacing:normal;word-spacing:normal;vertical-align:top;float:left;}
/* In web world, 50% + 50% = about 100.4%. So, we adjust widths accordingly, and clean up the ragged edges w/ float left/right. */ .flex_grid .flex_1    {width: 8.333333333333330%} .flex_grid .flex_2   {width: 16.66666666666670%} .flex_grid .flex_3 {width: 25%} .flex_grid .flex_4 {width: 33.33333333333330%} .flex_grid .flex_5 {width: 41.66666666666670%;} .flex_grid .flex_6  {width: 50%;} .flex_grid .flex_7 {width: 58.33333333333330%} .flex_grid .flex_8   {width: 66.66666666666660%} .flex_grid .flex_9   {width: 75%} .flex_grid .flex_10 {width: 83.33333333333330%} .flex_grid .flex_11  {width: 91.66666666666660%} .flex_grid .flex_12 {width:100%; display:block;} .flex_grid .flex_1.alpha, .flex_grid .flex_1.omega{width: 8.2%} .flex_grid .flex_2.alpha, .flex_grid .flex_2.omega{width: 16.5%} .flex_grid .flex_3.alpha, .flex_grid .flex_3.omega{width: 24.9%} .flex_grid .flex_4.alpha, .flex_grid .flex_4.omega{width: 33.2%} .flex_grid .flex_5.alpha, .flex_grid .flex_5.omega{width: 41.5%;} .flex_grid .flex_6.alpha, .flex_grid .flex_6.omega{width: 49.9%;} .flex_grid .flex_7.alpha, .flex_grid .flex_7.omega{width: 58.2%} .flex_grid .flex_8.alpha, .flex_grid .flex_8.omega{width: 66.5%} .flex_grid .flex_9.alpha, .flex_grid .flex_9.omega{width: 74.9%} .flex_grid .flex_10.alpha, .flex_grid .flex_10.omega{width: 83.2%} .flex_grid .flex_11.alpha, .flex_grid .flex_11.omega{width: 91.5%}
/* The first and last grid-chunk in each row gets .alpha and .omega, respectivly. Regardless of nesting level. */  .flex_grid .alpha {float:left;} .flex_grid .omega  {float:right;}



/* Default Styles 
-------------------------------------------------------------------------------------*/
body 			{margin:0; font:14px/1.4 Arial, Tahoma, sans-serif; background:#eee;}
/* Text Styles */
h1,h2,h3,h4,h4,h5,h6{margin:.6em 0; font-weight:bold;}
h1				{font-size:1.75em}
h2				{font-size:1.5em}
h3				{font-size:1.3em}
h4				{font-size:1.1em}
h5				{font-size:.8em;}
h6				{font-size:.65em;}
h5,h6			{text-transform:uppercase;}
/* Link Styles */
a 				{color:#008EC4;}
/* Element Styles */
hr				{border-color:#ddd; border-style:solid; border-width:1px 0 0; clear:both; height:0; margin:10px 0;}
strong			{font-weight: bold;}
strong.red		{color:#d11d1d;}
em				{font-style:italic;}
acronym,abbr	{border-bottom:1px dashed #999; color:#666;}
cite			{border-bottom:1px dashed #999;}
pre				{white-space:pre-wrap;}
blockquote		{border-left:3px solid #ccc; padding-left:5px; margin-left:30px;}
fieldset		{border:1px solid #ccc; background:#fafafa; border-radius:5px; position:relative; padding:40px 10px 20px;}
fieldset legend	{font-weight:bold; padding:0 10px 5px; background:#fff; border:1px solid #ccc; border-top:0px; position:absolute; top:-1px; left:10px;}
blockquote, table, ol, ul, fieldset {margin-bottom:20px;}
p				{margin-bottom:1em;}
/* Lists */
ol.default		{list-style-type:decimal;}
ul.default		{list-style-type:disc;}
.default li		{margin-left:30px;}
/* Image Styles */
img.left		{float:left; margin:0 1em .5em 0;}
img.right		{float:right; margin:0 0 .5em 1em;}
/* Generics */
.hide			{display:none;}

/* Basic Frame
-------------------------------------------------------------------------------------*/
#wrapper 		{border:1px solid #bbb; background:#fff; z-index:50; -webkit-box-shadow: 5px 5px 5px #888; -moz-box-shadow: 5px 5px 5px #888; box-shadow: 5px 5px 5px #888;}
#content		{padding:10px;}
#breadcrumbs	{margin-top:8px;}
/* Header */
header	h1		{margin-left:10px;}
section>h1:first-child {font-size:1.2em; text-transform:uppercase; margin-bottom:1em; border-bottom:1px solid #ccc;}
/* Footer */
footer ul.nav	{margin-top:10px; font-size:.9em; float:right;}
#copywrite		{padding:10px 0 1em 5px; color:#999; font-size:.9em;}

/* Nav
------------------w-------------------------------------------------------------------*/
ul.nav			{}
ul.nav li a 	{display:block; padding:3px 10px;}
ul.nav.strip li 				{float:left; border-left:1px solid #ccc;}
ul.nav.strip li:first-child 	{border-left:none;}
ul.nav.strip li:first-child a 	{padding-left:0px;}
ul.nav.strip li:last-child a 	{padding-right:0px;}
/* Main */
#main_nav					{}
#main_nav ul.nav			{margin:0 0 0 10px;}
#main_nav li				{float:left;}
#main_nav li:first-child a	{border-left:1px solid #ccc;}
#main_nav li a				{background:#e5e5e5; border:1px solid #ccc; border-bottom-color:#bbb; border-bottom:0; border-left:0px; text-decoration:none; padding:7px 10px 4px; margin-top:6px;
								border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px;}
#main_nav li a:hover		{background:#eee;}
#main_nav li.active a		{background:#fff; border-color:#bbb; border-bottom:0; color:#333; padding:10px 10px 7px; margin-top:0;}
#main_nav li.active a:hover {background:#fff;}
/* Admin */
#admin_nav					{}
#admin_nav ul.nav			{float:right;}

/* Forms 
-------------------------------------------------------------------------------------*/
ol.vert						{font-family:arial, sans-serif; font-size:13px; margin:0; padding:0; list-style: none;}
ol.vert li					{border-bottom:1px solid #ccc; padding:7px 0; clear:both; float:none; overflow:hidden;}
ol.vert label 				{width:125px; display:block; float:left; text-align:right; padding:4px 5px 4px 0; color:#555; line-height:1;}
ol.vert input				{display:inline;}
ol.vert .styled				{border:1px solid #9fba76; padding:4px 1px; font-size:13px;}
ol.vert div.option			{float:left;}
ol.vert div.option label	{width:auto; display:inline; float:none; text-align:left; color:#333;}
ol.vert div.option input 	{margin-left:0;}
ol.vert li.btn, ol.vert li.indent, ol.vert .feedback
							{padding-left:131px;}
ol.vert li span.value 		{float:left; padding:5px 5px 4px 0; font-weight:bold;}

ol.horiz					{}
ol.horiz li>label			{display:block; font-size:10px; font-family:'ColaborateLightRegular', Arial, sans-serif; text-transform:uppercase; color:#006837;}
ol.horiz span.option		{color:#333; }

/* Messages 
-------------------------------------------------------------------------------------*/
.feedback			{clear:both; float:none; display:block;}
.feedback div.error	{background:#FEF1EC; border:1px solid #d11d1d; color:#d11d1d;}
.feedback .tip 		{background:#fefbe7; border:1px solid #d3af12; color:#555;}
.feedback .tip strong	{color:#000;}
.feedback div.error, .feedback .tip
					{padding:7px; display:inline-block; border-radius:3px; margin:10px 0;}
					
/* Table
-------------------------------------------------------------------------------------*/
.datatable			{border-collapse:collapse;}
.datatable.fullwidth{width:100%;}
.datatable tbody tr:hover
					{background:#eee;}
.datatable th, .datatable td
					{padding:0 3px;}
.datatable th		{border-bottom:3px solid #aaa; text-align:left; font-weight:bold;}
.datatable td		{padding:3px 3px; border-bottom:1px solid #ddd;}
.datatable tr.alt	{}
